celery==4.4.1
Django==3.0.4
redis==3.4.1
psycopg2-binary==2.8.6
djangorestframework==3.12.1
django-filter==2.4.0
requests==2.24.0
pytesseract==0.3.6
pyyaml
uritemplate==3.0.1
ipython==7.19.0
django-cors-headers==3.5.0
python-docx==0.8.10
Pillow==8.0.1
python-magic==0.4.18
PyPDF2==1.26.0
PyMuPDF==1.18.2
drf-extra-fields==3.0.3
Wand==0.6.3